{{ range.Site.Params.experience.list }}
<h4 style="text-decoration: underline">{{ .position }}</h4>
<p {{if .tasks }}class="mb-0" {{ end }}>
  {{ .dates | markdownify }} &middot; {{ if .url }}
  <a href="{{ .url }}">{{ .company }}</a>
  {{ else }} {{ .company }} {{ end }}
</p>
{{ if .tasks }}
<div class="prose prose-stone dark:prose-invert max-w-none">
  {{ .tasks | markdownify }}
</div>
{{ end }} {{ if .details }}
<div class="prose prose-stone dark:prose-invert max-w-none">
  {{ .details | markdownify }}
</div>
{{ end }} {{ if .technos }}
</br>
<div class="prose prose-stone dark:prose-invert max-w-none">
  technos used: {{ .technos | markdownify }}
</div>
</br>
{{ end }} {{ end }}
